{#
/**
 * @file
 * Default theme implementation of an Instagram image link.
 *
 * Available variables:
 * - data
 *
 * @ingroup themeable
 */
#} 
{% set container_attributes = create_attribute() %}
{% set link_attributes = create_attribute() %}
{% set attributes = create_attribute() %}

{{ insta_prefix }}

{% spaceless %}
    <div {{ container_attributes.addClass(insta_attr.class_container) }}>

            {% if empty_token %}
                <span class="empty-access-token">
                    Wowps ... It looks like you did not enter access token.
                </span>
            {% else %}
            
                {% for post in data.posts %}

                    {% if settings.full_image and not settings.use_link %}
                        <div {{ attributes.addClass(insta_attr.wrapper).setAttribute('data-post', post.insta_path) }}>
                    {% elseif settings.full_image and settings.use_link and not settings.to_post %}
                        <div {{ attributes.addClass(insta_attr.wrapper) }}>
                            <a {{ link_attributes.addClass(insta_attr.link).setAttribute('href', post.original_image).setAttribute('data-post', post.insta_path ).setAttribute('rel', 'nofollow' ) }} >
                        {% elseif not settings.full_image and settings.use_link and settings.to_post %}
                            <div {{ attributes.addClass(insta_attr.wrapper) }}>
                                <a {{ link_attributes.addClass(insta_attr.link).setAttribute('href', post.insta_path).setAttribute('target', '_blank' ).setAttribute('rel', 'nofollow' ) }} >
                        {% elseif settings.full_image and settings.use_link and settings.to_post %}
                            <div {{ attributes.addClass(insta_attr.wrapper) }}>
                            <a {{ link_attributes.addClass(insta_attr.link).setAttribute('href', post.original_image).setAttribute('data-post', post.insta_path ).setAttribute('rel', 'nofollow' ) }} >
                        {% elseif  insta_attr.wrapper is not empty %}
                            <div {{ attributes.addClass(insta_attr.wrapper) }}>
                    {% endif %}

                    {% if post_info %}
                        <span class="insta-post">
                            <span class="count_likes"> {{ post.like_count }} </span>
                            <span class="count_comments"> {{ post.comment_count }} </span>
                        </span>
                    {% endif %}

                        {% if settings.lazy_load %}
                            <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{post.preset}}" alt="{{ post.caption is not empty ? post.caption : 'instagram post' }}">
                        {% else %}
                            <img src="{{post.preset}}" alt="{{ post.caption is not empty ? post.caption : 'instagram post' }}">
                        {% endif %}
  
                    {% if settings.full_image and settings.use_link and not settings.to_post %}
                            </a>
                        </div>
                    {% elseif not settings.full_image and settings.use_link and settings.to_post %}
                            </a>
                        </div>
                    {% elseif settings.full_image and settings.use_link and settings.to_post %}
                            </a>
                        </div>
                    {% elseif  insta_attr.wrapper is not empty %}
                        </div>
                    {% endif %}
            
                {% endfor %}


            {% endif %}
    </div>
{% endspaceless %}

{{ insta_suffix }}